.click-zoom input[type=checkbox]:checked~img {
    transform: scale(2);
    cursor: zoom-out
}

canvas {
    background-color: #fc9b5a;
    margin-left: 10em;
    margin-right: 10em;
}

.canvasContainer {
    text-align:center;
}

body {
    background-image: url("pics/background.jpg");
    background-repeat: repeat;
    background-size: cover;
}

.middle {
    margin: auto;    
    text-align: center;
}

h1, h2 {
    font-size: x-large;
    color: #FF6600;
    background-color: aqua;
    font-family: 'Verdana', Times, serif;
}

ul.features {
    list-style-type: circle;
}

ul.bestSellers {
    list-style-type: square;
}   

.buzz {
    color: red;
    font-size: large;
}

nav div {
    background-color: #fc9b5a;
    border-radius: 0.2em;
    font-size: xx-large;
    text-align: center;
}

a.link1:active {
    color: white;
    font-style: italic;
}
a.link1:visited {
    color: red;
    font-style: oblique;
}
a.link1:hover {
    color: #fc9b5a;
    font-style: normal;
}

a.link2:active {
    color: #fc9b5a;
    font-style: normal;
}
a.link2:visited {
    color: white(11, 63, 18);
    font-style: oblique;
}
a.link2:hover {
    color: red;
    font-style: italic;
}

div.dashedFrame {
    border-left: green dashed;
    border-top: red dashed;
    border-right: yellow dashed;
    border-bottom: blue dashed;
    text-align: left;
    padding-right: 2em;
}

tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) td:nth-child(odd) {
    background: #fc9b5a;
}

tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
    background: white;
}

div.podium {
    padding-top: 15px;
    display: flex;
    align-items: flex-end;
}

div.I {
    display: inline-block;
    width: 100px;
    height: 85px;
    background-color: gold;
    text-align: center;
}

div.II {
    display: inline-block;
    width: 100px;
    height: 70px;
    background-color: silver;
    text-align: center;
}

div.III {
    display: inline-block;
    width: 100px;
    height: 55px;
    background-color: brown;
    text-align: center;
}

div.I:hover , div.II:hover, div.III:hover {
    transform: scale(2);
    transition-duration: 2s;
}

.errorMessage {
    color: red;
}

button {
    border-radius: 0.5em;
    border: 1px solid;
    padding: 0.5em;
    background-color: #fc9b5a;
    color: white;
    font-size: 1rem;
}

button:hover {
    background-color: #e65c00;
}

button:disabled {
    background-color: gray;
}