<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Apartment Announcement</title>
</head>

<body>
    <%- include('authPartial.ejs') %>
    <form action="/createAnnouncement" method="POST">
        <label for="uploadCity">City</label><br>
        <input type="text" name="uploadCity" id="uploadCity" pattern="^[A-Z][a-z]+"><br>
        <label for="uploadQuarter">Quarter</label><br>
        <input type="text" name="uploadQuarter" id="uploadQuarter" pattern="^[A-Za-z0-9-.]+"><br>
        <label for="uploadArea">Area</label><br>
        <input type="number" name="uploadArea" id="uploadArea" pattern="[0-9]+"><br>
        <label for="uploadPrice">Price</label><br>
        <input type="number" name="uploadPrice" id="uploadPrice" pattern="[0-9]+"><br>
        <label for="uploadRomms">Number of rooms</label><br>
        <input type="number" name="uploadRomms" id="uploadRomms" pattern="[0-9]+"><br>
        <label for="uploadDate">Date</label><br>
        <input type="date" name="uploadDate" id="uploadDate" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"><br>
        <label for="uploadUserId">User</label><br>
        <select name='uploadUserId' id='uploadUserId'>
            <% users.forEach((user) => { %>
            <option value="<%= user.user_id %>"><%= user.user_name %></option>
            <% }); %>
        </select><br>
        <button type="submit">Upload</button>
    </form>
    <p><%= error %></p>
</body>

</html>